<!-- Modify your _header.ejs to display a "Register" link (pointing to the registration page) and a "Login" link (pointing to the login page) for users that are not logged in. -->
<div class="navbar-header">
  <h1>Shorten that URL! This means you!</h1>
  <% if (loggedIn) { %>
    <p>Hey there, <%= username %>!
    <form method="POST" action ="/Logout"> <button type="submit">Log out</button> </form>
    </p>
  <% } else { %>
    <form action="/login" method="POST">
      <p>
        <label for="username">Who dis?</label>
        <input type="text" id="username" name="username" placeholder="Identify yourself!"<br>
        <br>
        <label for="code">Prove it: </label>
        <input type="password" id="inputPass" name="inputPass" placeholder="Show your creds" /><br>
      </p>
      <input type="submit" value="sup">
    </form>
  <% } %>
</div>
