<div class="navbar-header">
  <h1>URL Shortifyer</h1>
  <% if (loggedIn) { %>
    <p>Welcome back, <%= user_id %>!
    <form method="POST" action ="/logout"> <button type="submit">Log out</button> </form>
    </p>
  <% } else { %>
    <p>Already registered? <a href="./login">Log in</a>!<p>
    <p>New here? <a href="./register">Register</a>!<p>
  <% } %>
</div>
