<!-- views/partials/_header.ejs -->
<div class="navbar-header">
  <h1>Shorten that URL!</h1>
    <form action="/login" method="POST">
    <p>
      <label for="username">Who dis?</label>
      <input type="text" id="username" name="username" placeholder="Identify yourself!"<br>
    </p>
    <p>
      <label for="code">Prove it: </label>
      <input type="password" id="inputPass" name="inputPass" placeholder="Show your creds" /><br>
    </p>
    <input type="submit" value="sup">
    </form>
    </a>
</div>
