<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="font-size:20px; padding:50px;">
  <h1>Sign up here!</h1>
  <p>
    <form action="/register" method="POST">
      Email address: <input type="email" name="email" placeholder="you@yourdomain.com"><br>
      Set a password: <input type="password" name="password" placeholder="a new password">
      <input type="submit" value="Submit">
    </form>
  </p>
</body>
</html>
