<!-- Fill out the urls_show.ejs template to display the full URL and its shortened form. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: a uRL shortening clone</title>
</head>
<body>

  <header>
      <% include partials/_header %>
  </header>

  <ul> Here are the full URLs:
    <% for (key in urls) { %>
        <li><%= urls[key] %></li>
    <% }; %>
  </ul>
  <form method="POST">
    URL to shorten: <input type="text" name="longURLName"> <button type="submit">Shorten!</button></form>
</body>
</html>
