<!-- Fill out the urls_show.ejs template to display the full URL and its shortened form. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: a uRL shortening clone</title>
</head>
<body>

  <header>
      <% include partials/_header %>
  </header>
  <form method="POST" action ="/urls/<%= shortURL %>">
    Update this tiny URL: <input type="text" name="longURLName"> <button type="submit">UPDATIFY!</button></form>
</body>
</html>
