<!DOCTYPE html>
<html lang="en">
<body>
  <header>
      <% include partials/_header %>
      <p>Nice to see you around, <%= username%>!</p>
  </header>
  <form method="POST" action ="/urls/<%= shortURL %>">
    Update this tiny URL: <input type="text" name="longURLName"> <button type="submit">UPDATIFY!</button></form>
</body>
</html>
